//NAVIGATION//
.navbar {
  widith: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #222;
}
.nav-links {
  color: white;
  text direction: none;
  font-size: 22px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}
.nav-links a: hover {
  color: #ffd700;
}

// body//
.h1 {
  font-size: 50px;
  font-transfomation: uppercase;
  text-direction: center;
  color: gray
}










