* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #f7f7f7;
    color: #222;
}


img {
    max-width: 100%;
}


a {
    text-decoration: none;
}


button,
input,
textarea,
select {
    font: inherit;
}

/*NAVIGATION*/

.navbar {
  width: 100px;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  background: #222;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-area {
    display: flex;
    align-items: center;
}


.logo-area img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.nav-links {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}
.nav-links a:hover {
  color: #ffd700;
}
 
 

/* BODY*/

h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: gray
}

.adminstrators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  gap: 40px;
  padding: 30px;
  max-width: 1000px;

}
.adminstrators-text {
  flex: 1;
  text-align: left;
}
.adminstrators-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.adminstrators-img {
  flex: 1;
  text-align: right;
}
.adminstrators-img img {
  width: 350px;
  height: auto;
  max-width: 100%;
}
@media (max-width: 768px) {
  .adminstrators {
    flex-direction: column;
    text-align: center;
  }
  .adminstrators-text {
    text-align: center;
  }
  .adminstrators-img {
    text-align: center;
  }
  .adminstrators-img img {
    width: 300px;
    height: auto;
  }
}








